<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:fragment="popup">
    <div class="common_pop alert_whole">
        <div class="common_bg"></div>
        <div class="common_box">
            <p id="alert_title" class="common_pop_txt common_pop_title">제목</p>
            <p id="alert_subtitle" class="common_pop_txt common_pop_subtitle">기본텍스트 기본텍스트 기본텍스트 기본텍스트 기본텍스트 기본텍스트 기본텍스트 기본텍스트 기본텍스트 기본텍스트</p>
            <div class="common_flex">
                <button type="button" onclick="commonHide()" class="common_btn btn_confirm">확인</button>
            </div>
        </div>
    </div>
    <div class="common_pop confirm_whole">
        <div class="common_bg"></div>
        <div class="common_box">
            <p id="confirm_title" class="common_pop_txt common_pop_title">제목</p>
            <p id="confirm_subtitle" class="common_pop_txt common_pop_subtitle">기본텍스트 기본텍스트 기본텍스트 기본텍스트 기본텍스트 기본텍스트 기본텍스트 기본텍스트 기본텍스트 기본텍스트</p>
            <div class="common_flex">
                <button type="button" onclick="commonHide()" class="common_btn btn_hide">닫기</button>
                <button type="button" onclick="popConfirm(this)" class="common_btn btn_confirm" id="pop_confirm_btn" data-type="none">확인</button>
            </div>
        </div>
    </div>
    <div class="common_pop standby_whole">
        <div class="common_bg"></div>
        <div class="common_box">
            <p id="standby_title" class="common_pop_txt common_pop_title">제목</p>
            <p id="standby_subtitle" class="common_pop_txt common_pop_subtitle">기본텍스트 기본텍스트 기본텍스트 기본텍스트 기본텍스트 기본텍스트 기본텍스트 기본텍스트 기본텍스트 기본텍스트</p>
            <div class="standby_loader"></div>
        </div>
    </div>
    <div class="pwchk_whole">
        <div class="pwchk_bg"></div>
        <div class="pwchk_box">
            <h2>마이페이지 비밀번호 확인</h2>
            <div class="pw">
                <input type="password" class="form-control" id="chkpw" name="chkpw" placeholder="비밀번호를 입력하세요" required>
                <i class="fa fa-eye-slash fa-lg"></i>
            </div>
            <div class="btn_flex">
                <button type="button" class="btn_prev" onclick="location.href='/'">메인으로</button>
                <button type="button" class="btn_submit" onclick="mypagepwchk()">확인</button>
            </div>
        </div>
    </div>
    <div class="address_whole">
        <div class="address_bg"></div>
        <div class="address_box">
            <h2>배송지 확인</h2>
            <div class="address">
                <input type="text" class="form-control" id="addr" name="addr" readonly>
                <input type="text" class="form-control" id="streetaddr" name="streetaddr" readonly>
                <input type="text" class="form-control" id="detailaddr" name="detailaddr" readonly>
            </div>
            <div>
                <button type="button" id="changeAddr" onclick="execDaumPostcode()">배송지 변경</button>
            </div>
            <div class="btn_flex">
                <input type="hidden" id="address" name="address">
                <button type="button" class="btn_prev" onclick="addrHide()">취소</button>
                <button type="button" class="btn_submit" onclick="addrCheck()">확인</button>
            </div>
        </div>
    </div>
    <input type="hidden" id="confirm_message" value="none">
</html>
