<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{common/layout}"
      layout:fragment="content">
    <body>
        <div class="community_whole">
            <div class="list_title display_flex flex_between flex_align_s">
                <h1>커뮤니티</h1>
                <button type="button" onclick="location.href='/community/register'" class="register_btn">등록 +</button>
            </div>
            <div class="community_inner">
                <div class="commu_admin">
                    <div class="admin_inner">
                        <div class="community_row" th:each="commu:${adminList}" th:onclick="'goToDetail(' + ${commu.communityNum} + ')'">
                            <p><span>[</span><span th:text="${commu.communityId}"></span><span>]</span></p>
                            <p th:text="${commu.communityTitle}">제목</p>
                            <th:block th:if="${commu.communityDate == commu.communityUpdateDate}">
                                <p th:text="${#temporals.format(commu.communityDate, 'yy년 MM월 dd일')}">등록일</p>
                            </th:block>
                            <th:block th:if="${commu.communityDate != commu.communityUpdateDate}">
                                <p th:text="${#temporals.format(commu.communityUpdateDate, 'yyyy년 MM월 dd일')}">수정일</p>
                            </th:block>
                        </div>
                        <p class="no_data_txt" th:if="${adminList == null} or ${adminList.size() == 0}">등록된 공지사항이 없습니다.</p>
                    </div>
                    <button type="button" th:if="${adminList.size() > 3}" onclick="adminReadMore(this)" data-type="off" class="admin_readmore" id="admin_readmore">공지 더보기</button>
                </div>
                <div class="commu_other">
                    <div class="community_row" th:onclick="'goToDetail(' + ${commu.communityNum} + ')'" th:each="commu:${otherList}">
                        <p><span>[</span><span th:text="${commu.communityId}"></span><span>]</span></p>
                        <p th:text="${commu.communityTitle}">제목</p>
                        <th:block th:if="${commu.communityDate == commu.communityUpdateDate}">
                            <p th:text="${#temporals.format(commu.communityDate, 'yy년 MM월 dd일')}">등록일</p>
                        </th:block>
                        <th:block th:if="${commu.communityDate != commu.communityUpdateDate}">
                            <p th:text="${#temporals.format(commu.communityUpdateDate, 'yyyy년 MM월 dd일')}">수정일</p>
                        </th:block>
                    </div>
                </div>
                <p class="no_data_txt" th:if="${otherList == null} or ${otherList.size() == 0}">등록된 자유게시글이 없습니다.</p>
            </div>
            <!-- 페이징 처리 -->
            <div class="pagination" th:if="${totalPage > 0}">
                <div th:each="page : ${#numbers.sequence(0, totalPage -1)}">
                    <span th:if="${nowpage == pageStat.index}">
                        <p th:text="${pageStat.index+1}"></p>
                    </span>
                    <span th:if="${nowpage != pageStat.index}">
                        <a th:href="@{/community/list(page=${pageStat.index})}" th:text="${pageStat.index+1}"></a>
                    </span>
                </div>
            </div>
        </div>
    </body>
</html>