<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}"
      layout:fragment="content">
    <div class="update_whole">
        <div class="detail_title">
            <div class="display_flex flex_align_c">
                <button type="button" onclick="history.back(-1)">
                    <img src="/image/icon/common/arrow-sm-prev.svg">
                </button>
                <h1>커뮤니티 글 수정</h1>
            </div>
        </div>
        <!-- 글 수정 input창 -->
        <form action="/community/updateSave" method="post" modelAttribute="communityDTO" th:object="${communityUpdate}">
            <div class="communtyInput">
                <input type="hidden" th:field="*{communityNum}" th:value="${communityNum}">
                <input type="hidden" th:field="*{communityId}" th:value="${communityId}">
                <div>
                    <label for="communityTitle">글 제목 : </label>
                    <input type="text" th:field="*{communityTitle}" id="communityTitle" th:value="${communityTitle}"/>
                    <!-- communityTitle 필드 오류 -->
                    <p th:if="${#fields.hasErrors('communityTitle')}" th:errors="*{communityTitle}"></p>
                </div>
                <div>
                    <label for="communityContent">글 내용 : </label>
                    <textarea th:field="*{communityContent}" id="communityContent" rows="3" cols="25" th:text="${communityContent}"></textarea>
                    <!-- communityContent 필드 오류 -->
                    <p th:if="${#fields.hasErrors('communityContent')}" th:errors="*{communityContent}"></p>
                </div>
                <div class="btn_flex">
                    <button type="button" onclick="location.href='/community/list'" class="btn_prev">돌아가기</button>
                    <button type="submit" class="btn_submit">수정</button>
                </div>
            </div>
        </form>
    </div>
</html>