@charset "UTF-8";
.faq_main{
    width: 100%;
    height: auto;
    margin: 30px auto;
}
.faq_main div{
    margin: 0 auto;
}
.faq_main div + div{
    margin-top: 20px;
}
.faq_main p{
    width: 60px;
    min-width: 60px;
    margin-bottom: 5px;
}