<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}"
      layout:fragment="content">
    <div class="update_whole">
        <div class="detail_title">
            <div class="display_flex flex_align_c">
                <button type="button" onclick="history.back(-1)">
                    <img src="/image/icon/common/arrow-sm-prev.svg">
                </button>
                <h1>FAQ 수정</h1>
            </div>
        </div>
        <form action="/faq/updatesave" method="post">
            <div class="faq_main">
                <div class="faq_info1">
                    <p>번호</p>
                    <input type="text" name="faqnum" id="faqnum" th:value="${dto.faqnum}" readonly>
                </div>
                <div class="faq_info1">
                    <p>질문</p>
                    <input type="text" name="question" id="question" th:value="${dto.question}">
                </div>
                <div class="faq_info1">
                    <p>답변</p>
                    <textarea rows="5" cols="100" name="asked" id="asked" placeholder="답변 입력" th:text="${dto.asked}"></textarea>
                </div>
                <div class="btn_flex">
                    <button type="submit" class="btn_submit">수정완료</button>
                </div>
            </div>
        </form>
    </div>
</html>